@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
$phone: "only screen and (max-width:576px)";
$largePhones: "only screen and (min-width:576px)";
$tablets: "only screen and (min-width:768px)";
$laptops: "only screen and (min-width:992px)";
$desktops: "only screen and(min-width:1200px)";

@include media-breakpoint-down(xs) {
  .navbar-expand-md {
    .container {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
  }
}
.navbar-dark {
  .navbar-toggler {
    border-color: #ffffff;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255 %29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
  }
}
